{% extends "base.html" %}

{% block content %}

<div class="panel panel-default">

  <div class="panel-heading">Доступные устройства</div>
  <div class="panel-body">

    <form method="post" action="{% url 'grunts' %}">
      {% csrf_token %}
      <div class="text-center">
          <div class="btn-group">
            {% for group in groups %}
            <button type="submit" name="group" value="{{ group }}"
              class="btn btn-default btn-xs {% if group == active %} active {% endif %}">
              {{ group }}
            </button>
            {% endfor %}
            <button type="submit" name="group" value=""
              class="btn btn-default btn-xs {% if not active %} active {% endif %}">
              Все устройства
            </button>
        </div>
      </div>
    </form>

  </div>

  <ul class="list-group">

    {% for grunt in grunts %}
    <a href="{% url 'grunt-list' grunt.id %}"
      class="list-group-item"
      title="Отобразить список отправленных смс">

        {# Device name and GOIP id #}
        {% if grunt.device_id %}
          <strong>{{ grunt.device_id }}.</strong>
        {% endif %}

        {% if grunt.name %}
          {{ grunt.name }}
        {% else %}
          Без имени
        {% endif %}

        {% if grunt.online %}
          <span class="badge alert-success mono-font pull-right">доступно</span>
        {% else %}
          <span class="badge alert-danger mono-font pull-right">недоступно</span>
        {% endif %}

        <span class="badge alert-info pull-right">
          {{ grunt.port }}
        </span>

        <span class="badge badge-default pull-right">
          {{ grunt.ip }}
        </span>

      </a>
    {% endfor %}

    {% if not grunts %}
    <li class="list-group-item list-group-item-danger">
      Устройств не обнаружено
    </li>
    {% endif %}

  </ul>

</div>


{% endblock %}

