<!-- Additional info -->
<div class="bs-callout bs-callout-info">
    <h4>Список смс данного устройства</h4>
    <p>NB: иногда вместо номера может отображаться зарегистрированное имя</p>
</div>

<!-- SMS list -->
<div class="panel panel-default">

  <!-- Table header and additional info -->
  <div class="panel-heading">
    {% if inbox %}СМС полученные устройством
    {% else %}СМС отправленные с устройства
    {% endif %}

    {% if grunt.device_id %}
      <strong>{{ grunt.device_id }}</strong>
    {% endif %}
    {% if grunt.name %}
      {{ grunt.name }}
    {% endif %}
    <small>{{ grunt.ip }}:<em>{{ grunt.port}}</em></small>
    <a href="{% url 'grunts' %}" class="btn btn-xs btn-default pull-right" role="button">
      <span class="glyphicon glyphicon-list"></span>
      К списку устройств
    </a>
  </div>
  <div class="panel-body">
    <p>Всего СМС: <strong>{{sms_list|length}}</strong></p>
    {% if sms_list|length > 0 %}
    <p>Последняя СМС: <strong>{{sms_list.0.date}}</strong></p>
    {% endif %}
  </div>

  <!-- SMS list -->
  <table class="table table-hover table-striped table-bordered">
    <thead>
          <tr>
            <th>#</th>
            {% if inbox %}
            <th>Отправитель</th>
            {% else %}
            <th>Адресат</th>
            {% endif %}
            <th>Сообщение</th>
            <th>Дата</th>
          </tr>
        </thead>
    {% for sms in sms_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ sms.recipient }} </td>
      <td>{{ sms.message }} </td>
      <td>{{ sms.date }} </td>
    </tr>
    {% endfor %}

    {% if not sms_list %}
    <tr>
      <td colspan="4">
        {% if inbox %}Нет полученных СМС!
        {% else %}Нет отправленных СМС!
        {% endif %}
      </td>
    </tr>
    {% endif %}

  </table>

</div>
